@import "tailwindcss";

@font-face {
    font-family: 'designer';
    src: url('./Designer.otf');
}

@font-face {
    font-family: 'gilroy';
    src: url(./Gilroy-Light.ttf);
}

::-webkit-scrollbar {
    display: none;
}

html , body {
    width: 100%;
    min-height: 100%;
}

#root {
    width: 100%;
    min-height: 100%;
    background-color: #ED7239;
}